<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- To consume ATProtoNet packages from Forgejo, add this source in your own project:
         https://git.grandiras.net/api/packages/Grandiras/nuget/v3/index.json -->
  </packageSources>
</configuration>
