<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="grandiras" value="https://git.grandiras.net/api/packages/Grandiras/nuget/v3/index.json" />
  </packageSources>
  <!-- The Forgejo source may not have packages yet; don't fail restore if unreachable -->
  <disabledPackageSources>
    <add key="grandiras" value="true" />
  </disabledPackageSources>
</configuration>
